<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="org.apache.logging.log4j">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%t]%d %-5p [%c] %m%n"/>
        </Console>
        <Flume name="FlumeAppend" ignoreExceptions="true" compress="false" type="embedded">
            <Property name="channel.type">memory</Property>
            <Property name="channel.capacity">10000</Property>
            <Property name="channel.transactionCapacity">1000</Property>
            <Property name="processor.type">failover</Property>
            <Property name="sinks">spark_flume_log</Property>
            <Property name="spark_flume_log.type">avro</Property>
            <Property name="spark_flume_log.hostname">dataompro02.test.bbdops.com</Property>
            <Property name="spark_flume_log.port">51518</Property>
            <Property name="spark_flume_log.batch-size">1000</Property>
            <JSONLog4j2Layout application="dp-apps-streaming-spark-cleaner"/>
        </Flume>
    </appenders>

    <Loggers>
        <logger name="bbd.flume.stream.trace.log" level="info">
            <AppenderRef ref="FlumeAppend"/>
        </logger>
        <Root level="info"> <!-- 全局配置 -->
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>