<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="MyApp" packages="org.apache.logging.log4j">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%t]%d %-5p [%c] %m%n"/>
        </Console>
    </appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>